.vscode/**
build/**
config/**
**/*.ts
**/*.map
.gitignore
tslint.json
scripts
test
node_modules/**
dist/web/test/**
dist/**/*.js.map
src/**
**/.gitignore
**/tsconfig.json
documentation/**/*.md
**/*.cmd